- content_for :head do
  %title
    Date with Like-minded people
%h1.name.description.black
  serious adult dating site for finding like-minded partners, adult chat, adult image shareing.

.search.pull-right
  Search
  = text_field_tag 'search', nil, data: {url: questions_path(page: 1)}
.clearfix

.questions
  = render partial: 'questions'
- if false
  = render template: 'home/neibhourhood/neibhourhood'  
