= link_to 'add link', '#', remote: true, class: 'new-link'
.form-container.d-none
  = render template: 'links/new'
.links
  = render partial: 'links', locals: {links: Link.order(Arel.sql('random()')).limit(20).paginate(per_page: 20, page: 1)}