.count
  = "#{@count} videos"
.clearfix
= render partial: 'links', locals: {links: @links}
- unless @links.next_page
  = link_to search_links_path(random: true), remote: true, class: 'load-random more-links view-more' do
    Show Random videos
