.current-elem
  = @current || 0
= link_to 'edit', edit_story_path(@story)
.cont
  .screen-cont
    .screen
      .watermark
        അശ്ലീലസാഹിത്യം
      .story-text
        = @story.text.gsub(/\n/, ' | ').split(' ').map{|e| handle_story_element(e)}.join(' ').html_safe
    .inst
      .content
  .fabar
    .mvbar
  %br
  = link_to 'back', '#', class: 'back white', remote: true