/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 *= require jquery-ui
 */

@font-face {
  font-family: 'Ampersand';
  src: local('Times New Roman');
  unicode-range: U+7F;
  font-family: 'Roboto', sans-serif;
}

@import "bootstrap";

a:hover {
    cursor: pointer;
}
.fav {
  border: none !important;
}
body {
  background-image: none !important;
  background-color: #ef89cf;
	min-height: 100vh;
	background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.clicked {
  background-color: #854848 !important;
  color: yellow !important;
  text-shadow: 0px 0px 0px black !important;
  background-image: none !important;
}
.featured-video .heading {
  padding: 12px 0px 0px 12px;
  font-size: 34px;
  font-weight: normal;
  color: yellow;
  display: block;
  word-wrap: break-word;
}
.featured-video .url {
  color: #eab0de;
}
.nav {
  z-index: 999999992147483647;
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: rgba(64, 59, 40, 0.6);
}
.nav-bar {
  width: 100%;
	padding: 10px;
	background-color: black;
	color: white;
	border-bottom: 1px solid #3d3d40;
  background-color: rgba(64, 59, 40, 0.6);
}
.nav-bar div {
	margin-right: 20px;
}
.nav-bar h2 {
	display: inline;
}
.video-search {
  padding: 10px;
  margin: 0px !important;
  display: inline;
  width: 44% !important;
  min-width: 268px !important;
}
.video-search input {
	width: 100% !important;
  margin: auto;
	padding: 6px;
	font-weight: bold;
}
.video-search input:focus {
    outline: none;
}
.common-bg {
  margin-top: 8vh;
	overflow: auto;
	padding-top: 68px;
}
.common-bg {
	padding: 68px 1.5% 0 1.5%;
}

.btn-primary {
	border-radius: 5px;
}
.flash {
	color: white;
	padding: 15px;
	border: 1px solid white;
	margin: 10px;
	border-radius: 10px;
}
.my-space {
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 10px;
}
.user-details img {
	width: 30px;
}
h3 {
	font-size: 22px;
	font-weight: 200;
}
h4 {
	font-size: 16px;
}
.view-more {
	margin-bottom: 10px;
}
.question, .group-post {
  background-color: cornsilk;
	color: white;
	border: 1px solid #3d3d40;
}
input[type='radio'] {
	margin: 0px 10px 0px 10px; 
}
.orientation {
	display: inline;
}
.orientation a {
  padding: 3px;
	margin: 0px 12px 0px 12px;
	color: #fde204;
	font-size: 21px;
}
.site-text, .site-text:hover {
	color: #f3ecec;
  text-decoration: none;
}
.site-header {
	text-shadow: 0px 0px 7px yellow;
}
.current_orientation {
	text-shadow: 0px 0px 7px yellow;
}
.report-ack {
  padding: 10px;
  color: #93a636;
  text-shadow: 0px 0px 6px black, 0px 0px 6px black, 0px 0px 6px black, 0px 0px 6px black;
}
#search {
  width: 33%;
  display: inline-block;
}
.ads {
  font-size: 23px;
  background-image: linear-gradient(45deg, black, transparent);
  padding: 2%;
  border-radius: 12px;
}
.featured-tags {
  margin-top: 20px;
}
.featured-tags a {
  background-image: linear-gradient(45deg, black, blue);
  padding: 13px;
  border-radius: 8px;
  margin-left: 12px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  letter-spacing: 1.2px;
  margin-top: 12px;
  text-shadow: none !important;
  display: inline-block;
}
.featured-tags a:hover {
  color: white;
  text-decoration: none;
}
.network-link, .network-link:hover {
  background-image: linear-gradient(45deg, black, #993434);
  display: inline-block;
  border-radius: 12px;
  line-height: 24px;
  text-decoration: none;
  color: white !important;
  border: 2px solid yellow;
  margin: 12px 12px !important;
}
.nav-toggle, .nav-toggle div {
  width: 100%;
  font-size: 24px;
  text-align: center;
  color: yellow;
  background-color: black;
}
.nav-bar a {
  display: inline-block;
}
.show-toggle {
  display: block;
}
.hide-toggle {
  display: none;
}
.active .hide-toggle {
  display: block !important;
}
.active .show-toggle {
  display: none !important;
}
.home-link-url {
  padding: 0px;
}
.home-link font {
  margin: -1.5px;
  font-size: 23px;
}
.home-link {
  padding: 8px 12px 5px 12px !important;
  display: initial;
  background-color: #311d2c !important;
  border-radius: 12px;
  border: 3px solid #f9fd02;
  font-size: 18px;
  font-weight: bold;
  width: 269px;
  min-width: 35px;
  margin: 4px;
  height: 54px;
  display: inline-block !important;
  float: left;
}
.home-link img {
  margin: 0px !important;
}