.connections {
	max-height: 500px;
  overflow: scroll;
  margin-bottom: 15px;
  float: left;
  display: inline-block;
}
.chat-thread {
	background-color: #343534;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 16px;
	max-height: 380px;
	overflow: scroll;
}
.chats {
	padding: 0px !important;
  display: inline-block;
  float: right;
}
@media (min-width: 576px) {
	.chats-container {
		margin-right: 2%;
	}
}
.chat {
	background-color: #f1f1f1;
	color: black;
	border-radius: 8px;
	padding: 15px;
	width: fit-content;
	margin-bottom: 10px;
	max-width: 70%;
	border: 1px solid #ddf;
}
.chat:last-child {
	margin-bottom: none;
}
.unseen-count {
  width: 30px;
  height: 30px;
  color: white;
  background-color: red;
  padding: 2px;
  border-radius: 15px;
  padding: 4px 10px;
}
.full-width {
	width: 100%;
}
.question.have-new-chat {
	background-color: red;
}
.unseen-mark {
	display: inline-block;
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.open-image-upload {
	margin-bottom: 10px;
}