.network-link {
	padding: 7px 11px !important;
	text-shadow: 0px 0px 0px !important;
}
.preview video {
	margin: 0px;
	padding: 0px;
}
.orientation a, .orientation a:hover {
  text-decoration: none;
}
.hide-toggle:hover {
  cursor: pointer;
}
.featured-video .tag, .featured-video .retry, .featured-video .report {
  border: 1px solid white;
}
.featured-video .tag {
	color: white;
}
.featured-video h2 {
	color: white;
}
.featured-video .retry {
	color: white !important;
}
.home-link {
	background-color: #eab0de !important;
}
.retry {
	color: #524a10 !important;
	border-color: 2px solid #524a10 !important;
}
.fb-sign-in {
	color: white;
	background: blue;
	padding: 4px;
	border-radius: 3px;
}
.question-wraper {
	padding: 0px 0px 6px 0px !important;
}
.questions {
	margin-bottom: 10px;
	overflow: auto;
}
.pagination-links {
	padding: 20px 20px 20px 20px;
}
.pagination .current, .disabled {
	color: grey;
}
.answer-action {
	width: 100%;
	text-align: right;
}
.question-preview .question-text {
	margin-top: 10px;
}
.question-preview {
	margin: 15px 15px 0px 0px;
}
.more-questions {
	margin-top: 10px;
}
.question-preview img {
	width: 30px;
}
.message {
	padding: 10px;
}
.search input {
  display: inline-block;
  max-width: 56%;
}
.view-more-questions-container {
	width: 100%;
}
.gender_form span {
	display: block;
}
.gender_form input {
	margin-right: 10px;
}
.new-link {
	margin-right: 12px;
	float: right;
}
.search-field {
  border-radius: 2px;
  border: none;
}
.url {
	padding-left: 0px;
}