.link-input {
	height: 20px;
}
.name {
	font-size: 28px;
	font-weight: normal;
	color: blue;
	display: block;
}
.url {
	color: green;
	margin-bottom: 10px;
	display: block;
}

.tag {
	padding: 6px;
	border: 1px solid blue;
	border-radius: 3px;
	margin-right: 5px;
}
.link {
	margin-bottom: 20px;
}
.view-more {
	display: none;
}