@media (min-width: 992px) {
	.col-lg-6 {
		flex: 0 0 50%;
		max-width: 49.78% !important;
	}
}
.comment-area, .comment-area div, .comment-area label, .comment-area a {
  color: black;
}
.link {
	display: inline-block;
	padding: 1% !important;
}

.link-input {
	height: 20px;
}
.name {
	font-size: 28px;
	font-weight: normal;
	color: blue;
	display: block;
	word-wrap: break-word;
}
.url {
	color: green;
	margin-bottom: 10px;
	display: block;
	word-wrap: break-word;
}

.tag {
  padding: 4px 8px;
  border-radius: 3px;
  margin-right: 13px;
  margin-bottom: 0px;
  margin-top: 13px;
	display: inline-block;
	line-height: normal;
  max-width: 200px;
  text-overflow: ellipsis;
  background: transparent;
  border: 1px solid black;
  color: black;
  box-shadow: 6px 6px 17px black;
  text-shadow: 0px 0px 12px yellow;
  overflow: auto;
}
input.tag {
  color: black;
  background-color: white;
  width: 100px;
}
.tag:hover {
	text-decoration: none;
}
.link {
	margin-bottom: 20px;
}
.view-more {
	display: none;
}
.url {
	display: inline;
	margin-right: 10px;
}
.preview {
	margin-top: 10px;
	width: 100%;
}
.preview > video {
	width: 100%;
}
.youtube-container { 
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
.youtube-container iframe, .youtube-container object, .youtube-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
}
.nav-bar {
	z-index: 2147483647;
	position: fixed;
	width: 100%;
}
.load-random {
	width: 100%;
	box-sizing: border-box;
	display: inline-table;
	height: 30px;
	border-radius: 6px;
	padding: 10px;
	text-align: center;
	font-size: 24px;
	margin: 12px 0 12px 0;
	color: blue;
	background-image: linear-gradient(black, #0c0f2d);
}
.load-random:hover {
	cursor: default;
	text-decoration: none;
	background-image: linear-gradient(black,#232371);
}
.load-random img {
	width: 20%;
	height: auto;
}
.form-container {
	display: none;
}
iframe {
	border: none !important;
}
.pagination a {
	padding: 20px;
	float: left;
}
.pagination {
	display: inline !important;
}
video:focus {

	outline: none;
}
.ad {
  color: white;
}
.delete-tag {
	display: none;
}
.count {
	padding: 12px;
	font-size: 20px;
	color: red;
}
.count:first-child {
	display: block;
}
.count {
	display: none;
}
.new-link {
  padding: 12px;
  border-radius: 5px;
  border: 3px solid #101223;
  color: #0c0101;
  margin-top: 12px;
  background-color: yellow;
}
.new-link:hover {
	background-color: white;
	text-decoration: none;
}
a.name {
	color: black;
	font-size: 32px;
  text-shadow: 0px 0px 5px white;
}
a.name:hover {
	color: yellow;
	text-decoration: none;
	text-shadow: 0px 0px 5px black;
}
.url {
  color: #eceae3;
  text-shadow: 0px 0px 21px black;
}
.url, .retry, .count, .new-link, .tag {
	font-size: 22px;
}
.link-action-user {
  background-color: transparent;
  padding: 6px;
  border-radius: 12px 12px;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  font-size: 22px;
}
.link-action-user:hover {
  text-decoration: none !important;
  color: yellow;
}
.report {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  background-color: red;
  color: white;
  font-weight: 900;
  border: 2px solid black;
}

.popup {
  position: absolute;
  top: 32%;
  left: 19%;
  width: 60%;
  background-color: white;
  color: black;
  padding: 3%;
  z-index: 99999999999999;
  font-size: 4vw;
}