.network-nav-bar {
  background-color: #421f26;
  border-bottom: 4px solid #f9dc10;
}
.network-nav-bar  a {
  display: inline-block;
  padding: 0.3% 0%;
  margin: 1%;
  background: transparent;
  border-radius: 4px;
  font-size: 20px;
  color: white !important;
  text-transform: capitalize;
}
.network-nav-bar:hover {
  text-shadow: 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white;
  text-decoration: none;
}
.network-nav-bar a:hover {
  text-decoration: none;
}
.network-nav-bar a {
  margin-right: 20px;
}
.nopadding {
  padding: 0px !important;
}
.network-body div, .network-body a, .network-body label {
  color: #000;
  text-shadow: 0px 0px 30px white;
}
.network-body h1, .network-body h2, .network-body h3, .network-body h4, .network-body h5 {
  text-shadow: none;
}

.network-body {
  background-image: linear-gradient(180deg, violet, indigo, blue, green, yellow, orange, red);
}
.network-body .page {
  background-color: rgba(255,255,255,0.5);
  min-height: 100vh;
}
.network-body .post-body {
  margin-left: 0px;
}
.network-body .question {
  background-color: yellow;
  margin-top: 0px;
}
.network-body .common-bg {
  padding-top: 12px;
  margin-top: 2vh;
}
.network-body a:hover {
  color: yellow !important;
  text-shadow: 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black;
}
.new-question {
  padding-top: 12px;
}

.network-body h1 {
  font-size: 30px;
  font-weight: bold;
  padding: 1% 0% 1% 0%;
}
.network-body h2 {
  font-size: 26px;
  font-weight: bold;
  padding: 1% 0% 1% 0%;
}
.network-body h3 {
  font-size: 22px;
  font-weight: bold;
  padding: 1% 0% 1% 0%;
}
.network-body h3 {
  font-size: 20px;
  font-weight: bold;
  padding: 1% 0% 1% 0%;
}
.network-body h4 {
  font-size: 16px;
  font-weight: bold;
  padding: 1% 0% 1% 0%;
}
.search {
  margin-bottom: 12px;
}
.response-form {
  max-width: 501px;
  margin: auto;
  display: block !important;
  margin-bottom: 20px !important;
}

.question-small {
  width: 100%;
  min-height: 100px;
  border-radius: 12px;
  background-color: white;
  overflow: hidden;
  margin: 12px 0px 0px 0px !important;
  margin-top: 12px;
}
.question-small .user-details {
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin: 12px;
}
.question-small .user-details .avathar {
  padding-top: 100%;
  width: 100%;
  overflow: hidden;
}
.question-small .user-details img {
  width: 100%;
  position: absolute;
  top: 0px;
  margin: 0px;
}
.question-small .question-small-body {
  margin: 12px;
}
.black {
  color: black;
}
.connect-icon img {
  width: 40px;
}
.question-small-body a:hover {
  color: blue !important;
  text-shadow: none;
  text-decoration: none;
}
.question-small-body a {
  color: black !important;
  text-decoration: none;
}
.comment-area {
  padding: 2%;
  background-color: white;
}
.comment-area {
  color: black;
}
a {
  padding: 12px;
}