.cont {
	margin: 30px;
	width: 450px;
	float: left;
	height: 900px;
}
.screen::-webkit-scrollbar { width: 0 !important }
.screen-cont {
	width: 92%;
	height: 600px;
	background-image: linear-gradient(black, blue);
	background-size: cover;
	display: inline-block;
}
.screen {
	scroll-behavior: smooth;
	overflow: hidden;
	width: 100%;
	height: 92%;
	font-size: 30px;
	position: relative;
	float: left;
}
.background {
	background-color: rgba(0,0,0,0.3);
	height: 92%;
	width: 100%;
	position: fixed;
}
.story-text {
	background: rgba(0,0,0,0.4);
	padding: 20px;
	position: absolute;
	width: 100%;
}
.screen h1 {
	width: 100%;
	text-align: center;
}
.start {
	text-align: center;
	padding: 12px;
	vertical-align: middle;
	width: 100px;
	border-radius: 6px;
	background-color: red;
	margin-top: 30px;
}
img, video {
	width: 100%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.screen img, .screen video, .screen span {
	display: none;
}
span {
	margin-left: 12px;
	line-height: 20px;
}
.input {
	float: left;
	display: inline-block;
	width: 32%;
}
.back {
	clear: both;
}
.input form {
	width: 100%;
}
.input textarea {
	width: 100%;
	height: 600px;
}
.fabar {
	display: inline-block;
	width: 30px;
	height: 600px;
	position: relative;
	margin-left: -4px;
	background-color: brown;
	overflow: hidden;
	background-color: blue;
}
.mvbar {
	height: 10px;
	width: 30px;
	background-color: black;
	position: absolute;
	background-color: black;
}

.soft {
	height: 400px;
}
.medium {
	height: 200px;
}
.hard {
	height: 0px;
}
.stop {
	height: 600px !important;
}
.inst {
	font-size: 30px;
	color: yellow;
	text-align: right;
	width: 100%;
	padding: 0px 32px 0px 0px;
}
.content {
	float: right;
}
.script-input {
	margin: 30px !important;
	width: 80%;
	height: 500px;
}
.script-link {
	display: block;
	margin: 12px;
}
.watermark {
	color: #fac2;
	position: absolute;
	font-size: 58px;
	top: 248px;
	left: 20%;
}
.current-elem {
	display: none;
}