.container {
	margin: 30px;
}
.screen {
	overflow: auto;
	width: 770px;
	height: 600px;
	font-size: 30px;
	background-image: linear-gradient(black, blue);
	padding: 20px;
	background-size: cover;
	display: inline-block;
	position: relative;
}
.screen h1 {
	width: 100%;
	text-align: center;
}
.start {
	text-align: center;
	padding: 12px;
	vertical-align: middle;
	width: 100px;
	border-radius: 6px;
	background-color: red;
	margin-top: 30px;
}
img, video {
	width: 100%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.screen img, video, span {
	display: none;
}
span {
	margin-left: 12px;
	line-height: 20px;
}
.fabar {
	display: inline-block;
	width: 30px;
	height: 600px;
	position: relative;
	margin-left: -4px;
	background-color: brown;
	overflow: hidden;
	background-color: blue;
}
.mvbar {
	height: 10px;
	width: 30px;
	background-color: black;
	position: absolute;
	background-color: black;
}

.soft {
	height: 400px;
}
.medium {
	height: 200px;
}
.hard {
	height: 0px;
}
.stop {
	height: 600px !important;
}
.inst {
	font-size: 30px;
	color: red;
	text-align: right;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0px 32px 0px 0px;
}